* {margin: 0;}

.container {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 0;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
}
/*--header--later--*/
/*--main--*/
main {padding-top: 106px;
}

.line {
    margin: 29px auto 0;
    width: 64px;
    border: 1px solid #ffffff;
}

.grayfont {
    padding-top: 29px;
    font-size: 14px;
    color: #86878b;
    font-weight: 400;
}

.reasonswhy {
    display: inline-block;
    width: 350px;
    margin: auto 16px;
    padding-top: 80px;
}

.icon {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border: 2px solid;
    border-radius: 50%;
    background: no-repeat center;
}
.icon--lamp {background-image: url(../img/lamp.png);}
.icon--keyboard {background-image: url(../img/keyboard.png);}
.icon--lightning {background-image: url(../img/lightning.png);}

.orange {border-color: #ff8c2c;}

h3 {
    padding-top: 29px;
    color: #333333;
    font-weight: 700;
    font-size: 20px;
}

.street {
    margin-top: 102px;
    background: url(../img/street.png) no-repeat center/cover;
}

h2 {
    padding-top: 33px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    opacity: 0.8;
}

.fogging {
    padding: 76px 0 63px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

button {
    margin-top: 33px;
    padding: 15px 0 14px;
    width: 135px;
    font-weight: 600;
    font-size: 15px;
    border: 2px solid #ffffff;
    background-color: transparent;
}
/*--footer--*/
footer {
    font-size: 0;
    background-color: #000000;
}

img {padding-top: 39px}

h6 {
    font-size: 12px;
    font-weight: 400;
    padding: 15px;
    opacity: 0.5019607843137255;
}

.white {color: #ffffff;}
