* {    
    box-sizing: border-box;
    margin: 0;
}

.container {
    width: 100%;
    font-size: 0;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

h1 {
    font-weight: 400;
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
}
/*--header--later--*/
/*--main--*/
main {
    padding-top: 106px;
}

.line {
    width: 64px;
    margin: 29px auto 0;
    border: 1px solid #ffffff;
}

.grayfont {
    padding-top: 29px;
    font-weight: 400;
    font-size: 14px;
    color: #86878b;
}

.reasonswhy {
    display: inline-block;
    width: 350px;
    margin: auto 16px;
    padding-top: 80px;
}

.icon {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    background: no-repeat center;
    border: 2px solid;
    border-radius: 50%;
}

.icon--lamp {
    background-image: url(../img/lamp.png);
}

.icon--keyboard {
    background-image: url(../img/keyboard.png);
}

.icon--lightning {
    background-image: url(../img/lightning.png);
}

.orange {
    border-color: #ff8c2c;
}

h3 {
    padding-top: 29px;
    font-weight: 700;
    font-size: 20px;
    color: #333333;
}

.street {
    margin-top: 102px;
    background: url(../img/street.png) no-repeat center/cover;
}

h2 {
    padding-top: 33px;
    font-weight: 300;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    opacity: 0.8;
}

.fogging {
    width: 100%;
    padding: 76px 0 63px;
    background-color: rgba(0, 0, 0, 0.7);
}

button {
    width: 135px;
    margin-top: 33px;
    padding: 15px 0 14px;
    font-weight: 600;
    font-size: 15px;
    border: 2px solid #ffffff;
    background-color: transparent;
}
/*--footer--*/
footer {
    padding-top: 39px;
    background-color: #000000;
}

h6 {
    font-weight: 400;
    font-size: 12px;
    padding: 15px;
    opacity: 0.5019607843137255;
}

.white {
    color: #ffffff;
}
